# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Flask instance folder
instance/

# Logs
*.log

# Environment variables
.env

# IDE configuration files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Static
/static/bootstrap/

config.py