# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Flask instance folder
instance/

# Flask app settings (e.g., database URIs, secret keys)
config.py

# PyCharm, VSCode and other IDE/editor specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Database files (if using SQLite for example)
*.sqlite3

# Distribution / packaging
*.egg
*.egg-info
dist/
build/
