<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nieuwe Bestelling</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <h1 class="text-center my-5">Nieuwe Bestelling</h1>
    <form method="POST" action="{{ url_for('main.add_bestelling') }}">
        <!-- Bestelling Section -->
        <h2 class="my-4">Bestelling Informatie</h2>

        <!-- Medewerker -->
        <div class="mb-3">
            <label for="bestelling_medewerker" class="form-label">Medewerker</label>
            <select id="bestelling_medewerker" name="bestelling_medewerker" class="form-select" required>
                {% for medewerker in medewerkers %}
                    <option value="{{ medewerker.Medewerkernr }}">
                        {{ medewerker.voornaam }} {{ medewerker.tussenvoegsel }} {{ medewerker.achternaam }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Datum -->
        <div class="mb-3">
            <label for="datum" class="form-label">Datum</label>
            <input type="date" class="form-control" id="datum" name="datum" required>
        </div>

        <!-- Bestelling Status -->
        <div class="mb-3">
            <label for="status" class="form-label">Bestelling Status</label>
            <select name="status" id="status" class="form-select">
                <option value="">All</option>
                {% for status in statuses %}
                    <option value="{{ status.idBestelling_status }}">{{ status.status }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Levermoment -->
        <div class="mb-3">
            <label for="bestelling_levermoment" class="form-label">Levermoment</label>
            <select id="bestelling_levermoment" name="bestelling_levermoment" class="form-select" required>
                {% for levermoment in levermomenten %}
                    <option value="{{ levermoment.idLevermoment }}">
                        {{ levermoment.moment }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Dagdeel -->
        <div class="mb-3">
            <label for="bestelling_dagdeel" class="form-label">Dagdeel</label>
            <select id="bestelling_dagdeel" name="bestelling_dagdeel" class="form-select" required>
                {% for dagdeel in dagdelen %}
                    <option value="{{ dagdeel.idDagdeel }}">
                        {{ dagdeel.dagdeel }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Koerier -->
        <div class="mb-3">
            <label for="bestelling_koerier" class="form-label">Koerier</label>
            <select id="bestelling_koerier" name="bestelling_koerier" class="form-select" required>
                {% for koerier in koeriers %}
                    <option value="{{ koerier.idKoerier }}">
                        {{ koerier.naam }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- KM Transport -->
        <div class="mb-3">
            <label for="km_transport" class="form-label">Kilometers voor transport</label>
            <input type="number" class="form-control" id="km_transport" name="km_transport" required>
        </div>

        <!-- Spoed -->
        <div class="mb-3">
            <label for="spoed" class="form-label">Spoed</label>
            <select id="spoed" name="spoed" class="form-select" required>
                <option value="0">Normaal</option>
                <option value="1">Spoed</option>
            </select>
        </div>

        <!-- Products Section -->
        <h2 class="my-4">Products in Bestelling</h2>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Product naam: {{ product.naam }}</p>

                            <!-- Product in bestelling fields-->
                            <div class="mb-3">
                                <label class="form-label">Aantal</label>
                                <input type="number" class="form-control" name="product_aantal_{{ product.productnr }}" value="0">
                            </div>
                            <div class="mb-3">
                                <label for="prijs" class="form-label">Prijs</label>
                                <input type="number" class="form-control" name="product_prijs_{{ product.productnr }}" value="0">
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Geen producten beschikbaar.</p>
            {% endfor %}
        </div>

        <div class="text-center my-4">
            <button type="submit" class="btn btn-primary">Bestelling Aanmaken</button>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
