<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestelling Details</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <h1 class="text-center my-5">Geplaatste Bestellingen</h1>

    <!-- Filter Form -->
    <form method="POST" action="{{ url_for('main.show_filtered_orders') }}" class="mb-4">
        <label for="status" class="form-label">Filter by Status:</label>
        <select name="status" id="status" class="form-select">
            <option value="">All</option>
            <option value="1" {% if selected_status == '1' %}selected{% endif %}>Afgerond</option>
            <option value="2" {% if selected_status == '2' %}selected{% endif %}>Verzonden</option>
            <option value="3" {% if selected_status == '3' %}selected{% endif %}>Niet gepicked</option>
        </select>
        <button type="submit" class="btn btn-primary mt-3">Filter</button>
    </form>

    <!-- Bestellingen Table -->
    {% if bestellingen %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Bestellingsnr</th>
                    <th>Medewerker</th>
                    <th>Datum</th>
                    <th>Status</th>
                    <th>Levermoment</th>
                    <th>Dagdeel</th>
                    <th>Koerier</th>
                    <th>KM Transport</th>
                    <th>Spoed</th>
                </tr>
            </thead>
            <tbody>
                {% for bestelling in bestellingen %}
                
                <tr>
                    <td>{{ bestelling.bestellingsnr }}</td>
                    <td>{{ bestelling.bestelling_medewerker }}</td>
                    <td>{{ bestelling.datum }}</td>
                    <td>{{ bestelling.status }}</td>
                    <td>{{ bestelling.bestelling_levermoment }}</td>
                    <td>{{ bestelling.bestelling_dagdeel }}</td>
                    <td>{{ bestelling.bestelling_koerier }}</td>
                    <td>{{ bestelling.km_transport }}</td>
                    <td>{{ bestelling.spoed }}</td>
                    <td><a href="{{ url_for('main.show_products_in_order', bestelling_id=bestelling.bestellingsnr) }}">Bekijken producten</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No bestellingen found.</p>
    {% endif %}

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
