<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabrikant Bewerken</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Bewerk Leverancier</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="naam" class="form-label">Naam van Leverancier</label>
                <input type="text" name="naam" id="naam" class="form-control" value="{{ fabrikant.naam }}" required>
            </div>
            <div class="mb-3">
                <label for="emailadres" class="form-label">Emailadres</label>
                <input type="email" name="emailadres" id="emailadres" class="form-control" value="{{ fabrikant.emailadres }}" required>
            </div>
            <div class="mb-3">
                <label for="telefoonnr" class="form-label">Telefoonnummer</label>
                <input type="text" name="telefoonnr" id="telefoonnr" class="form-control" value="{{ fabrikant.telefoonnr }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Bewerken</button>
        </form>
        <a href="{{ url_for('fabrikanten_overzicht') }}" class="btn btn-secondary mt-3">Terug naar Overzicht</a>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>