<!-- new_product.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nieuw Product Toevoegen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Nieuw Product Toevoegen</h1>
    <form method="POST">
        <label for="naam">Productnaam</label>
        <input type="text" name="naam" id="naam" required>

        <label for="bederfelijkheidsfactor">Bederfelijkheidsfactor</label>
        <input type="number" name="bederfelijkheidsfactor" id="bederfelijkheidsfactor" required>

        <label for="batchnummer">Batchnummer</label>
        <input type="number" name="batchnummer" id="batchnummer" required>

        <label for="verpakkingsgrote">Verpakkingsgrootte</label>
        <input type="number" name="verpakkingsgrote" id="verpakkingsgrote" required>

        <label for="locatie_id">Locatie ID</label>
        <input type="number" name="locatie_id" id="locatie_id" required>

        <label for="voorraad">Voorraad</label>
        <input type="number" name="voorraad" id="voorraad" required>

        <label for="verschil_in_voorraad">Verschil in Voorraad</label>
        <input type="number" name="verschil_in_voorraad" id="verschil_in_voorraad" required>

        <label for="bewaaradvies">Bewaaradvies ID</label>
        <input type="number" name="bewaaradvies" id="bewaaradvies" required>

        <label for="fabrikant">Fabrikant ID</label>
        <input type="number" name="fabrikant" id="fabrikant" required>

        <button type="submit">Product Toevoegen</button>
    </form>
    <a href="{{ url_for('main.show_filtered_orders') }}">Terug naar Bestellingen</a>
</body>
</html>